.chart-container {
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

.chart-container button {
  background-color: #f0f0f0;
  color: #333;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  max-width: 200px;
}

.chart-container button.active {
  background-color: #1fe343;
  color: #fff;
}
